<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div id="app">
      <div>
        <label for="goal">目标</label>
        <input type="text" id="goal" v-model="enteredValue" />
        <button v-on:click="addGoal">添加目标</button>
      </div>
      <ul>
        <li v-for="name in goals">{{ name }}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
